<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resume.api.dao.UserMapper">

    <select id="findByResumeIdLevel" parameterType="Integer" resultType="com.resume.api.entity.User">
    	SELECT a.*,b.content FROM tb_school a
    	LEFT JOIN tb_study_level b ON a.study_level_id=b.id
    	WHERE resume_id=#{id}
    </select>

</mapper>
